# Entorno virtual
.venv
*.egg-info/
venv/
.env/
.env
envData/

# Archivos de Python
__pycache__/
*.pyc
*.pyo

# VS Code
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log



PREcompanies_list_out.csv
PREcompanies_list_outNO.csv
PREcompanies_list.csv
PREcompanies_listNO.csv
companies_list_out.csv
companies_list_outNO.csv
companies_list.csv
companies_listNO.csv